<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tamanegisoul.screentime" >

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".DebugActivity"
            android:label="@string/title_activity_debug"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>

        <service
            android:name=".MainService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver android:name=".BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".AppListActivity"
            android:label="@string/title_activity_app_list" >
        </activity>
        <activity
            android:name=".ScreenLockActivity"
            android:label="@string/title_activity_screen_lock"
            android:launchMode="singleTask"
            android:theme="@style/Transparent" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".VerifyPasscodeActivity"
            android:label="@string/title_activity_passcode_verify" >
        </activity>
    </application>

</manifest>
